<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>IbanMayo</display-name>
  <welcome-file-list>
    <welcome-file>/html/sarrera.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <listener>
    <listener-class>ibanmayo.MySessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>ibanmayo.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/servlet/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ibanmayo.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KontuaEguneratu</servlet-name>
    <servlet-class>ibanmayo.KontuaEguneratu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KontuaEguneratu</servlet-name>
    <url-pattern>/servlet/KontuaEguneratu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lizentzia</servlet-name>
    <servlet-class>ibanmayo.Lizentzia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lizentzia</servlet-name>
    <url-pattern>/servlet/Lizentzia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasahitzaAldatu</servlet-name>
    <servlet-class>ibanmayo.PasahitzaAldatu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasahitzaAldatu</servlet-name>
    <url-pattern>/servlet/PasahitzaAldatu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sarrera</servlet-name>
    <servlet-class>ibanmayo.Sarrera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sarrera</servlet-name>
    <url-pattern>/servlet/Sarrera</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Nagusia</servlet-name>
    <servlet-class>ibanmayo.Nagusia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nagusia</servlet-name>
    <url-pattern>/servlet/Nagusia</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>PdfServlet</servlet-name>
    <servlet-class>ibanmayo.PdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/servlet/PdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>ibanmayo.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/servlet/MainServlet</url-pattern>
  </servlet-mapping>
</web-app>